section.error.container
  .error__wrapper
    h1.error__status 404
    h3.error__title We Can’t Find This Page!
    p.text-regular.error__message Check the website URL and try again, or find what you need on our homepage.
  a.btn.error__btn(href="/") Go Back Home


