meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
base(href="/")
link(rel="canonical" href="https://carbon.com/")

title Carbon — Mesure your social media carbon footprint

meta(name="description" content="Carbon is a way to mesure how your social media dialy habits impact our beautiful planet.")
meta(name="keywords", content="carbon, calculator")
meta(name="author" content="Youness Id bakkasse, Tania Mahouche, Nassim Yazi, Mathis Grelet, Kenzo")

link(rel="manifest" href="./site.webmanifest")
meta(name="msapplication-TileColor" content="#3EC865")
meta(name="theme-color" content="#3EC865")
meta(name="color-scheme" content="normal")

meta(property="og:url" content="https://carbon.com/")
meta(property="og:title" content="Carbon — Mesure your social media carbon footprint")
meta(property="og:description" content="Carbon is a way to mesure how your social media dialy habits impact our beautiful planet.")

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="@carbon")
meta(name="twitter:title" content="Carbon — Mesure your social media carbon footprint")
meta(name="twitter:description" content="Carbon is a way to mesure how your social media dialy habits impact our beautiful planet.")

//- link(rel="preload" as="font" href="neue-montreal-regular.woff2" type="font/woff2" crossorigin="anonymous")
//- link(rel="preload" as="font" href="ampersand.woff2" type="font/woff2" crossorigin="anonymous")
