meta(name="description" content="Carbon is a way to mesure how your social media dialy habits impact our beautiful planet.")
meta(name="author" content="Youness Id bakkasse, Tania Mahouche, Nassim Yazi, Mathis Grelet, Kenzo")
meta(name="msapplication-TileColor" content="#3EC865")
meta(name="theme-color" content="#3EC865")
meta(name="color-scheme" content="normal")
link(rel="manifest" href="site.webmanifest")
