meta(property="og:url" content="https://carbon.younessidbakkasse.com/")
meta(property="og:title" content="Carbon — Mesure your social media carbon footprint")
meta(property="og:description" content="Carbon is a way to mesure how your social media dialy habits impact our beautiful planet.")

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="@carbon")
meta(name="twitter:title" content="Carbon — Mesure your social media carbon footprint")
meta(name="twitter:description" content="Carbon is a way to mesure how your social media dialy habits impact our beautiful planet.")
