section.banner
  .container
    .banner-wrapper(role="banner")
      .banner__content
        h1.banner__title(role="heading" aria-level="1") How your tweets are impacting the planet ?
        p.text-big.banner__description Estimate your Twitter account carbon footprint by using our carbon calculator, check it out now.
      .banner__search
        form.search__form(role="search")
          label.search__label(for="username") Your Twitter Username
          input.search__input(type="text", autocomplete="off", id="username", placeholder="Twitter username...")
          .hide-below-sm
            +button('search__btn', 'Calculate')
          .search__icon(role="button" aria-pressed="false")
            img.show-below-sm.search__btn(src="search.svg", alt="Search Icon", width='20', height='20')
        p.text-small.search__disclaimer.hide-below-sm(role="alert") *Please note that we are a sustainable website and we never store your informations.

