div.cards(role="cards")
    div.card#card-1
        img()
        p See how you can save the planet.
        small Lorem ipsum sit amet, consectetur adipiscing elit maecenas nibh.
    div.card#card-green
        img()
        p Check real life people impact on planet.
        small Lorem ipsum sit amet, consectetur adipiscing elit maecenas nibh.
    div.card#card-3
        img()
        p Save the world by doing nothing.
        small Lorem ipsum sit amet, consectetur adipiscing elit maecenas nibh.