section.cards.container
  +card({
    title: "Get real time insights with one click.",
    icon: "data.svg",
    description: "With Carbon, get a multitude of information instantly."
  })

  +card({
    title: "Secured and no personal data is stored.",
    icon: "lock.svg",
    description: "Carbon respects your privacy."
  })

  +card({
    title: "Prevent social media impact on the planet.",
    icon: "lifesaver.svg",
    description: "Discover the real impact of social media on the planet."
  })
