section.dashboards.container
  .dashboard-frame
    h4.dashboard__title Direct pollution score
    .dashboard__canvas
      include ../components/byscore

  .dashboard-frame
    h4.dashboard__title Posts pollution by type
    .dashboard__canvas
      include ../components/bytype

  .dashboard-frame
    h4.dashboard__title Posts pollution by source
    .dashboard__canvas
      include ../components/bysource



