header.header.container
  nav.header__navigation(role="navigation")
    ul.header__menu(itemscope, itemtype="http://schema.org/Organization")
      li.header__menu__item.header__logo-container
        a.header__logo__link(href="/", itemprop="logo") Carbon
      li.header__menu__item.hide-below-sm
        a.header__menu__link.text-small(href="about", itemprop="url") How deos it work ?
  div.header__wrapper
    div.hide-below-sm
      +socials({name: "Facebook", link: "#"}, {name: "linkedin", link: "#"}, {name: "Email", link: "#"})
    +button('header__cta-btn', 'Go Back Home')

