//- Header content
header.header-frame.container(role="header")
  nav.header__navigation(role="navigation")
    ul.header__menu(itemscope, itemtype="http://schema.org/Organization")
      li.header__menu__item.header__logo-container
        a.header__logo(href="#", itemprop="logo") Carbon
      li.header__menu__item
        a.header__menu__link(href="#", itemprop="url") How deos it work ?
  div.header__wrapper
    +socials({name: "LinkedIn", link: "#"}, {name: "Github", link: "#"}, {name: "Email", link: "#"})
    +button('btn--primary', 'Get Started')
