section.presentation.container
  h2.presentation__title Carbon simulation results for
  .presentation__results
    .user__profile
      img.user__img(src="profile.png" alt="Profile image")
      .user__infos
        .user__identity
          h3.user__fullname Youness Id bakkasse
          h4.user__name @yidbakkasse
        .user__stats
          p.text-small.user__followings 12 Following
          p.text-small.user__followers 498 Followers
    .user__score
      .score
        h3.score__note
        h3.score__rate 12
      a.text-small.score__infos.hide-below-sm(url="about.html") Learn more about this ?


