section.presentation.container
  h2.presentation__title Carbon simulation results for
  .presentation__results
    .user__profile
      img.user__img(src="profile.png" alt="Profile image" width="175" height="175")
      .user__infos
        .user__identity
          h3.user__fullname Youness Id bakkasse
          h4.user__name @yidbakkasse
        .user__stats
          p.text-small
            span.user__followings 12
            span Following
          p.text-small
            span.user__followers 12
            span Followers
    .user__score
      .score
        h3.score__note
        h3.score__rate
      a.text-small.score__infos.hide-below-sm(href="about.html") Learn more about this ?


