figure.dashboard__byscore
ul.dashboard__labels
  li.dashboard__label.text-small Low pollution rate.
  li.dashboard__label.text-small Moderate pollution rate.
  li.dashboard__label.text-small Excessive pollution rate.

