figure.dashboard__byscore
ul.dashboard__labels
  li.dashboard__label.text-small Tweets that contain at least an text.
  li.dashboard__label.text-small Tweets that contain at least an image.
  li.dashboard__label.text-small Tweets that contain at least a video.

