//- Including utils
include ./snippets/mixins

//- Main Document
doctype html
html(lang="en" class="no-js")
  head
    include ./partials/head
  body
    //- include ./partials/preloader
    include ./sections/header
    main#main(role="main")
      include ./partials/error
      include ./partials/noscript
      include ./sections/footer
