doctype html
html(lang="en")
  head
    title= pageTitle
    
  body
    h1 Pug - node template engine
    img.case__media__image(src="./produit4.jpeg", alt="Product image")
    #container.col
      p.pussy
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
