//- Including utils
include ./snippets/mixins

//- Main Document
doctype html
html(lang="en")
  head
    include ./partials/head
  body
    include ./sections/header
    main(role="main")
      include ./sections/banner
      include ./sections/cards

