//- Including utils
include ./snippets/mixins

//- Main Document
doctype html
html(lang="en" class="no-js")
  head
    include ./partials/head
    script(src="https://d3js.org/d3.v6.min.js" defer)

  body
    include ./partials/preloader
    include ./sections/header
    main#main(role="main", style="display: none")
      include ./partials/noscript
      include ./sections/presentation
      include ./sections/dashboards
      include ./sections/footer
