ul.header__social
      li.header__social__item.linkedin
        a.header__social__link(href="#") LinkedIn
      li.header__social__item.github
        a.header__social__link(href="#") Github
      li.header__social__item.email
        a.header__social__link(href="#") Email
