// Typefaces
@font-face {
    font-family: 'Neue Metana';
    src: url('Assets/fonts/NeueMetana-Regular.woff2') format('woff2'),
        url('Assets/fonts/NeueMetana-Regular.woff') format('woff'),
        url('Assets/fonts/NeueMetana-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Metana';
    src: url('Assets/fonts/NeueMetana-Bold.woff2') format('woff2'),
        url('Assets/fonts/NeueMetana-Bold.woff') format('woff'),
        url('Assets/fonts/NeueMetana-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

// Declaring font variables
$primary-font: "Neue Metana";
