.banner__wrapper {
  @include container(1400px, 80%);
  text-align: center;


  .banner__description {
    max-width: 60%;
    line-height: 1.5;
    margin: 0 auto;
    padding: 2em;
  }

  .calculator__search {
    max-width: 70%;
    margin: 0 auto;

    .search__input {
      width: column-w-desktop(1400px) * 5;
      margin-right: 1em;
    }

    .calculator__disclaimer {
      text-align: left;
      padding: {
        top: 1em;
      }
    }
  }

}







