.cards {
  padding: em(60px) 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: em(30px);


  @include max(lg) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: em(20px);
  }

  @include max(sm) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }


  .card {
    padding: 25px 20px;
    margin: 10px auto;
    background-color: $white-10;
    border: 1px solid $black-10;
    border-radius: $border-radius;
    box-shadow: $hard-shadows-normal;

    .card__head {
      @include d-flex($wrap: nowrap);
      align-items: center;
      margin-bottom: 8px;

      .card__figure {
        padding: 10px 25px;
        @include max(sm) {
          padding: 6px 12px;
        }
        margin-right: 10px;
      }
    }
  }

}
