.header {
  @include d-flex($wrap: nowrap);
  align-items: center;

  .header__menu {
    @extend .header;
    padding: 1.5em 0;

    .header__menu__item {
      margin-right: em(40px);

      .header__logo__link {
        user-select: none;
        @include font($size: 22px, $weight: bold, $letter-spacing: -.5px)
      }
    }

  }

  .header__wrapper {
    @extend .header;

    .header__social {
      margin-right: 1.5em;

      li {
        margin-right: 15px;
      }
    }

    .header__cta-btn {
      margin: em(22px) 0;
    }
  }
}
