.header-frame {
  @include d-flex;

  .header__menu {
    display: flex
  }

  .header__btns {
    display: flex;

    .header__social {
      display: flex;
      @include font;
    }

    .btn {
      @include button;
    }
  }
}





