@use "sass:math";
@use "sass:string";

@function em($px) {
  @return #{math.div($px, $browser-context)}em;
}

@mixin d-flex ($direction: row, $align: space-between, $wrap: wrap) {
  display: flex;
  flex-wrap: $wrap;
  flex-direction: $direction;
  justify-content: $align;
}


@mixin font ($size: 16px, $weight: normal, $color: $black-10, $letter-spacing: 0) {
  font-family: $p-font;
  font-weight: $weight;
  font-size: em($size);
  color: $color;
  letter-spacing: $letter-spacing;
}

@mixin input {
  @include font($color: $black-10);
  padding: em(15px) em(30px);
  background-color: $white-10;
  border: 1px solid $black-10;
  border-radius: 10px;
  box-shadow: $hard-shadows-small;
  box-sizing: border-box;

  &:active, &:focus {
    outline: none;
  }
}

@mixin button($h-padding: 30px) {
  @include font($size: 14px, $weight: bold, $color: $white-10);
  padding: 16px em($h-padding);
  box-sizing: border-box;
  background-color: $green-8;
  border: 1px solid $black-10;
  border-radius: 10px;
  box-shadow: $hard-shadows-normal;
  cursor: pointer;
  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: $green-10;
  }

  &:active {
    outline: none;
  }
}


// Container
@mixin min($bp, $device: "screen") {
  @media only #{$device} and (min-width: #{bp-size($bp)}) {
    @content;
  }
}

.container {
  margin: 0 auto;

  @each $bp, $bp-size in $breakpoints {
    @include min($bp) {
      width: 95%;
      max-width: $bp-size;
    }
  }
}
