// Primary colors
$green-10: #12AE3E;
$green-8: #3EC865;
$green-6: #75EA96;

// Secondary colors
$black-10: #000000;
$black-8: #111111;
$black-4: #2b2b2b;
$white-10: #FFFFFF;
$white-8: #FBFBFB;

// Other colors
$orange: #EABB75;
$red: #EA7575;
$yellow: #D9EA75;

// Typefaces
$p-font: "Montserrat", sans-serif;

$headline-h1: (na: 34px, sm: 56px, md: 66px, lg: 80px);
$headline-h2: (na: 22px, sm: 28px, lg: 36px);
$headline-h3: (na: 18px,sm: 22px, lg: 30px);
$headline-h4: (na: 16px, sm: 20px, lg: 20px);
$headline-h5: (na: 12px, sm: 14px, lg: 16px);

$text-big: (na: 14px, sm: 16px, lg: 22px);
$text-regular: (na: 12px, sm: 14px, lg: 18px);
$text-small: (na: 11px, sm: 12px, lg: 16px);

// Effects
$hard-shadows-big: 0px 6px 0px $black-10;
$hard-shadows-normal: 0px 4px 0px $black-8;
$hard-shadows-small: 0px 2px 0px $black-8;
$border-radius: 10px;

// Breakpoints
$browser-context: 16px;
$breakpoints: (
    na: 0px,
    xs: 320px,
    s:  420px,
    sm: 700px,
    md: 900px,
    lg: 1200px,
    xl: 1800px,
);

@function bp-size($bp) {
  @if not map-get($breakpoints, $bp) {
    @warn "Unknown breakpoint #{$bp}.";
  } @else {
    @return map-get($breakpoints, $bp);
  }
}


