html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: $black-10;
}

button {
  @include button;
}

input {
  @include input;
}

label {
  display: none;
}

ul {
  @include d-flex($wrap: nowrap);
}


h1 {
  @each $bp, $h-size in $headline-h1 {
    @include min($bp) {
      @include font($h-size, bold, $black-10, -2px)
    }
  }
}

h2 {
  @each $bp, $h-size in $headline-h2 {
    @include min($bp) {
      @include font($h-size, 800, $black-10, -1px)
    }
  }
}

h4 {
  @each $bp, $h-size in $headline-h4 {
    @include min($bp) {
      @include font($h-size, bold, $black-10, .5px)
    }
  }
}

.text-big {
  @each $bp, $h-size in $text-big {
    @include min($bp) {
      @include font($h-size, 300, $black-4, 0px)
    }
  }
}

.text-regular {
  @each $bp, $h-size in $text-regular {
    @include min($bp) {
      @include font($h-size, 300, $black-4, .25px)
    }
  }
}

.text-small {
  @each $bp, $h-size in $text-small {
    @include min($bp) {
      @include font($h-size, 200, $black-4, .5px)
    }
  }
}




