// Primary colors
$green-10: #12AE3E;
$green-8: #3EC865;
$green-6: #75EA96;

// Secondary colors
$black-10: #000000;
$black-8: #111111;
$black-4: #2b2b2b;
$white-10: #FFFFFF;
$white-8: #FBFBFB;

// Typefaces
$p-font: "Montserrat", sans-serif;

// Effects
$hard-shadows-normal: 0px 4px 0px $black-8;
$hard-shadows-small: 0px 2px 0px $black-8;


