extends ../base.pug

block head
  title Carbon — 404 Error you missed up.
  link(rel="canonical" href="http://carbon.younessidbakkasse.com/404")

block header
  include ../sections/header

block content
  include ../partials/error






