extends ../base.pug

block title
  title Carbon — About The Carbon Project.

block header
  include ../sections/header

block content
  h1.section.container(style="text-align: center") More informations





