extends ../base.pug

block head
  title Carbon — About The Carbon Project.
  link(rel="canonical" href="https://carbonproject.netlify.app/about")

block header
  include ../sections/header

block content
  h1.section.container(style="text-align: center") More informations





