extends ../base.pug

block head
  title Carbon — About The Carbon Project.
  link(rel="canonical" href="http://carbon.younessidbakkasse.com/about")

block header
  include ../sections/header

block content
  .container.container-page
    h1 How does it works ?
    p.text-regular We all know that gas, oil, cars and fashion industry are responsible for most of the pollution in the world. But did you know that social media can damage our planete same as these. How? l'it us explain. Each gesture made on the web emits a carbon footprint: visiting a website, viewing a video, sending an email: these acts that seem without consequences are not.

    p.text-regular The display of a web page, for example, requires a chain reaction: for the browser to display the page and all of its elements to you, it will make a certain number of requests to a server which has these elements. and will serve them to him in return.

    h2 How we used Twitter ?

    p.text-regular In our case Twitter, the energy used is roughly proportional to the amount of data transferred. We measure the data transferred over the wire when a web page is loaded, and multiply that by the energy usage data that we have. So basicly when you tweet, like or share a post, there is a data transfer which consumes a small amount of energy since social media runs on data centers




