extends ../base.pug

block title
  title Carbon — Learn how we calculate your carbon footprint.

block header
  include ../sections/header

block content
  h1.section.container(style="text-align: center") More informations





