extends ../base.pug

block head
  title Carbon — Mesure your Social Media Carbon Footprint..
  link(rel="canonical" href="http://carbon.younessidbakkasse.com/")

block header
  include ../sections/header

block content
  include ../sections/banner
  include ../sections/cards
  section.banner
  .container
    .banner-wrapper(role="banner")
      .banner__content
        h2.banner__title(role="heading") Check out some samples
        p.text-big.banner__description Check out some famous celebrities CO2 pollution score.

  section.dashboards.container
    .dashboard-frame
      h4.dashboard__title Pollution comparator
      .dashboard__canvas
        include ../components/bycomparator

