extends ../base.pug

block title
  title Carbon — Mesure your Social Media Carbon Footprint..

block header
  include ../sections/header

block content
  include ../sections/banner
  include ../sections/cards

