extends ../base.pug

block head
  title Carbon — Privacy and Licence informations.
  link(rel="canonical" href="http://carbon.younessidbakkasse.com/privacy")

block header
  include ../sections/header

block content
  h1.section.container(style="text-align: center") Privacy and Licence






