extends ../base.pug

block title
  title Carbon — Your carbon footprints results..

block scripts
  script(src="https://d3js.org/d3.v5.min.js")


block header
  include ../sections/header

block content
  include ../sections/presentation
  include ../sections/dashboards
