extends ../base.pug

block head
  title Carbon — Your carbon footprints results..
  link(rel="canonical" href="https://carbonproject.netlify.app/results")

block header
  include ../sections/header-results

block content
  include ../sections/presentation
  include ../sections/dashboards
