extends ../base.pug

block title
  title Carbon — Your carbon footprints results..

block header
  include ../sections/header

block content
  include ../sections/presentation
  include ../sections/dashboards
